// Colors
$black: #222;
$white: #fff;
$primary: #4828FF;
$green: #3FDB1A;
$lightGrey: #E5E5E5;
$blackBase: rgba(35, 33, 39, 1);
$black2: rgba(35, 33, 39, 0.8);
$black3: rgba(35, 33, 39, 0.6);

$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.6);
// Fonts
$open: 'Open Sans';

// Font size
$fmed: 16px;
$fmedL: 18px;
$fl: 20px;
$fhuge: 30px;

$bold: 700;
$semi_bold: 500;


// sizes

$margin_top: 16px;
$margin_left: 16px;
$margin_right: 16px;
$margin_bottom: 16px;

$margin_default: 16px;

$padding_default: 16px;
